h1 {
color: blue;
font-family: helvetica;
border: 10px solid blanchedalmond;
padding:50px;



}

p{ 
    color: pink;
}
h2 {
    color: blueviolet;
    font-family: helvetica;
}

    body{
        background-color: rgb(240, 223, 152);
    }
    img{
        border: 10px solid blanchedalmond;
        width: 25%;
        height: 25%;
        margin-left: 100px;
    }